.breadcrumb-pet {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url("/assets/img/breadcrumb.png");
    &.pb-20 {
        padding: 20em 0;
    }
    .bradcaump-title {
        color: #060606;
        @media (max-width: 768px) {
            padding: 3.1em 0 !important;
        }
    }
}


